<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>SysVentas</title>
  </head>
  <body>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-header">
              <h1>Categorias</h1>
            </div>
            <div class="card-body">
              <form action="{% url 'categorias' %}" method="post">
                {% csrf_token %}
                 {% if error_message %}
                <p class="alert alert-danger">{{ error_message }}</p>
                {% endif %}
                <div class="form-group mb-3">
                  <label for="name">Name:</label>
                  <input type="text" name="name" class="form-control" autofocus />
                </div>
                <div class="form-group mb-3">
                  <label for="description">Description:</label>

                  <textarea name="description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <input
                    type="submit"
                    value="Registrar"
                    class="btn btn-success"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <table class="table table-striped shadow">
            <thead class="bg-dark text-white">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {% for categoria in categorias %}
              <tr>
                <td scope="row">{{ categoria.id }}</td>
                <td>{{ categoria.name }}</td>
                <td>{{ categoria.description }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
